<link rel="stylesheet" href="/styles/user.style.css">
<main>
    <div class="container my-4 h-100 d-flex flex-column">
        <div class="container text-center">
            <h3 class="fw-bold text-black" id="info">User Information</h3>
        </div>
        <div class="container alert-message">
            <%- include("./partials/user_message.ejs") %>
        </div>
        <div class="row">
            <form action="/input" method="POST" autocomplete="off" class="w-100"
                name="myform" id="form">
                <div class="form-group-xs">
                    <label for="inputsm" class="fs-5 text-black">Name</label>
                    <input 
                        type="text" 
                        onkeypress="return event.keyCode != 13;" 
                        step="0.1"
                        class="form-control form-control-md name" 
                        name="name" 
                        id="inputmd" 
                        placeholder="John doe"
                        value="<%= typeof name != 'undefined' ? name : ''%>">
                    <!-- <small>Your name is not long enough</small> -->
                </div>
                <div class="form-group-xs">
                    <label for="inputsm" class="fs-5 text-black">Email</label>
                    <input 
                        type="text" 
                        onkeypress="return event.keyCode != 13;" 
                        step="0.1"
                        class="form-control form-control-md email" 
                        name="email" 
                        id="inputmd"
                        placeholder="johndoe@gmail.com"
                        value="<%= typeof email != 'undefined' ? email : ''%>">
                    <!-- <small>Your email is invalid</small> -->
                </div>
                <div class="form-group-xs">
                    <label for="inputsm" class="fs-5 text-black">Country</label>
                    <select name="country" id="select" value="<%= typeof country != 'undefined' ? country : ''%>">
                        <option selected disabled value="select">Select your Country...</option>
                    </select>
                    <!-- <small>Please select your country</small> -->
                </div>
                <div class="form-group-xs d-flex justify-content-between align-items-center">
                    <label for="inputsm" class="fs-5 text-black">Phone</label>
                    <input 
                        type="text" 
                        onkeypress="return event.keyCode != 13;" 
                        step="0.1"
                        class="form-control form-control-md" 
                        name="phone" id="inputmd" 
                        placeholder="Optional"
                        value="<%= typeof phone != 'undefined' ? phone : ''%>">
                </div>
                <div class="submit-btn">
                    <input 
                        type="submit" 
                        value="Next" 
                        class="btn bg-primary text-white">
                </div>
            </form>
        </div>
    </div>
</main>

<script src="/scripts/user.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>